* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}
/*This will change the styel in the body
Mostly all contents should be in the body*/
body {
  background: #a59999;
  color: #393970;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  background-image: url("https://icstars.github.io/AboutMe-Louis/assets/space.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #c47171;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #292424;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
